{% extends "base.html" %}
{% load static %}

{% block extra_meta %}
    <meta name="description" property="og:description" content="">
    <meta name="keywords" content="Support NGOs, World NGO Day, non-governmental organization">

    {% comment %} Essential Meta Tags for Social Media - Facebook and Twitter {% endcomment %}
    <meta property="og:title" content="Home | SupportNGOs">
    <meta property="og:type" content="website">
    <meta property="og:image" content="">
    <meta property="og:image:alt"
        content="">
    <meta property="og:url" content="">
    <meta name="twitter:card" content="summary_large_image">

    {% comment %} Non-Essential but Recommended Meta Tags {% endcomment %}
    <meta property="og:description"
        content="">
    <meta property="og:site_name" content="Support NGOs">
    <meta name="twitter:image:alt"
        content="">
{% endblock %}

{% block extra_title %}{{category.id}} |{% endblock %}

{% block page_header %}
    <div class="container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="container-fluid">

        <div class="col text-center mt-1">
            <h2 class="display-4 text-black text-center my-5">{{ category.id }}</h2>
        </div>

    </div>

    <!-- Individual Category/ Causes area -->
    <div class="container mb-3">
        <!-- Individual Categoey/ Causes image and description -->
        <div class="row mx-3">
            <div class="col-12">

            </div>
        </div>
    </div>

    <!-- List of all listed NGOs -->
    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-4 row-cols-xl-5 mx-5 mb-5">
        {% if nongovernmentorgs %}
        <div class="row">
            {% for n in nongovernmentorgs %}


            {% endfor %}
        </div>
        {% endif %}
    </div>


{% endblock %}