{% extends "base.html" %}
{% load static %}

{% block extra_meta %}
    <meta name="description" property="og:description" content="">
    <meta name="keywords" content="Support NGOs, World NGO Day, non-governmental organization">

    {% comment %} Essential Meta Tags for Social Media - Facebook and Twitter {% endcomment %}
    <meta property="og:title" content="Home | SupportNGOs">
    <meta property="og:type" content="website">
    <meta property="og:image" content="">
    <meta property="og:image:alt"
        content="">
    <meta property="og:url" content="">
    <meta name="twitter:card" content="summary_large_image">

    {% comment %} Non-Essential but Recommended Meta Tags {% endcomment %}
    <meta property="og:description"
        content="">
    <meta property="og:site_name" content="Support NGOs">
    <meta name="twitter:image:alt"
        content="">
{% endblock %}

{% block extra_title %}NGOs |{% endblock %}

{% block page_header %}
    <div class="container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col">
                {{ nongovernmentorgs }}
            </div>
        </div>
    </div>

{% endblock %}