@charset "utf-8";

* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box !important;
    font-family: "Roboto", sans-serif;
}

/* google fonts */

@import url("https://fonts.googleapis.com/css2?family=Exo+2&family=Lato&family=Montserrat&family=Roboto&display=swap");

/* primary colors and sections */

:root {
    --primary-color: #02a4db;
    --secondary-color: #1e982d;
    --third-color: #e3aa60;
    --background-color: #fff;
    --shadow-color: #4a4a4a;
    --box-shadow: 8px 8px 8px rgba(0,0,0,0.6),
                  8px 8px 35px rgba(255,255,255,0.3);
}

main {
    overflow-x: hidden;
}

body {
    background-color: var(--background-color);
    overflow-x: hidden;
}

a {
    text-decoration: none;
    color: #34383c;
}

/* ------------------------------------------------------- NavBar  */
.nav-item {
margin: 0 0.2rem;
}

.nav-link {
  font-weight: 600;
  border-radius: 0;
  transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
}

.nav-link:hover {
  text-decoration: none;
  color: var(--secondary-color);
  padding-left: 0.25rem;
  padding-bottom: 0.25rem;
  border-left: solid 0.25rem var(--secondary-color);
  border-bottom: solid 0.25rem var(--primary-color);
}

.nav-brand-logo {
  height: 3rem;
  width: 3rem;
}

.brand-name {
  font-size: 1.1rem;
  font-weight: 600;
  font-family: "Lato", sans-serif;
}

.nav-link {
  font-size: 1.1rem;
}

.glass-container {
padding-top: 0.5rem;
}

.searchbutton {
  margin-bottom: 0;
}

.heart-icon {
  margin: 7px 0.2rem;
}

.nav-bar-icons {
  font-size: 2rem;
  color: var(--primary-color);
}

.nav-bar-icons:hover {
  color: var(--secondary-color);
}

/* Overiding bootrsrap show on focus */
.log-in-btn.focus, .log-in-btn:focus {
  box-shadow: none;
  color: var(--secondary-color);
}

.dropdown-menu {
  margin-left: -50px;
}

/* -------------------------------------------------------  Search button */
/* credit to: https://codepen.io/k185 */
/* https://codepen.io/k185/pen/PQajXE */

.search:focus + .searchbutton {
	transition-duration: 0.4s;
	-moz-transition-duration: 0.4s;
	-webkit-transition-duration: 0.4s;
	-o-transition-duration: 0.4s;
	background-color: white;
	color: black;
}

.search-container {
  padding-top: 0 !important;
}

.expandright:focus{
  border: 2px solid var(--secondary-color);
  border-radius: 7px;
  padding-left: 5px;
}

.search {
  position: relative;
  top: -0.5rem; /* ths sets the search bar in to place as it is attached to a position of seach*/
	background-color: white;
	outline: none;
	border: none;
	padding: 0;
	width: 0;
	height: 100%;
	z-index: 10;
	transition-duration: 0.4s;
	-moz-transition-duration: 0.4s;
	-webkit-transition-duration: 0.4s;
	-o-transition-duration: 0.4s;
}

.search:focus {
	width: 363px;
}

/* ------------------------------------------------------- Footer  */
.footer {
  background-color: var(--shadow-color);
  width: 100%;
  height: 20rem;
  background-color: #590085;
  margin-top: auto;
  left: 0;
  bottom: 0;
  width: 100%;
  text-align: center;
  height: 13%;
}

.social-networks {
  margin-bottom: 0;
}

.fa-brands,
.team-members,
.fa-brands + .team-members,
.rights-link  {
  transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
  -webkit-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
}


.fa-brands {
  border-radius: 30%;
  background-color: var(--primary-color);
  margin: 0 10px;
  width: 3rem;
  height: 3rem;
  font-size: 2rem;
  margin-top: 1rem;
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
  color: var(--shadow-color);
}

.fa-brands:hover {
  color:  #fff;
  background-color: var(--shadow-color);
  text-decoration: none;
  border: 3px  #fff solid;
}

.team-members {
  margin-top: 5px;
  font-size: 1rem;
  font-weight: 600;
  letter-spacing: 1px;
  color: var(--primary-color);
  text-transform: uppercase;
}

.team-members:hover,
.fa-brands:hover + .team-members{
  color: #fff;
}

.footer-rights {
  color: var(--background-color);
  padding-top: 10px;
  padding-bottom: 10px;
  margin-bottom: 0 !important;
}

.rights-link {
  text-decoration: none;
  color: var(--primary-color);
}

.rights-link:hover {
  color: var(--background-color);
}

a {
  text-decoration: none !important;
}

/* -------------------------------- Home Page Hero Section Styling */
.carousel-img {
    height: 38rem;
}

.text-red {
    color: #ffffffb6;
}

.text-green {
    color: var(--secondary-color);
}

.appeal-message {
    display: flex;
    justify-content: center;
    align-items:first baseline;
    margin: 2rem auto;
    color: #ffffffb6;
}

/* -------------------------------- Highlights Section Below Hero Styling */
.vertical-line-right {
  border-right: 4px solid green;
  height: auto;

}

.vertical-line-left {
  border-right: 1px solid green;
  height: auto;

}

/* -------------------------------- Highlights Section Below Hero Styling */
.featured-bg {
  background-color: #e1e2e7;
}

.featured-post-intro {
  display: flex;
  margin-right: 3rem;
  margin-left: 3rem;
}

.featured-post-body {
  display: flex;
  margin-right: 4.5rem;
  margin-left: 4.5rem;
}

.featured-post-closing {
  display: flex;
  margin-right: 8rem;
  margin-left: 8rem;
}

/* -------------------------------- Categories Cards Styling */
.card-alt {
    align-items: center;
    border-radius: 10px;
    display: flex;
    border: 10px solid var(--clr);
    box-shadow: -10px -10px 10px rgba(255, 255, 255, 0.2),
                15px 15px 15px rgba(0, 0, 0, 0.1),
                -10px -10px 10px rgba(255, 255, 255, 0.2) inset,
                15px 15px 15px rgba(0, 0, 0, 0.1) inset;
}

.card-alt:hover {
  box-shadow: 0 22px 22px -8px #cbced1,
              -8px 0 22px -8px #cbced1,
              22px 0 22px -8px #cbced1;
  border: 1px solid rgba(225, 226, 231, 0.3) !important;
}

.card-alt-transition {
  -webkit-transition: border 2s ease-out;
    -moz-transition: border 2s ease-out;
    -o-transition: border 2s ease-out;
    transition: border 2s ease-out;
    -webkit-transition: box-shadow 2s ease-out;
    -moz-transition: box-shadow 2s ease-out;
    -o-transition: box-shadow 2s ease-out;
    transition: box-shadow 2s ease-out;
}




/* -------------------------------- NGOs Page Styling */
.ngo-img {
    display: flex;
    width: 8rem;
    height: 8rem;
    margin: 1rem auto;
}

a.category-badge > span.badge {
  border: 1px solid #000;
}

a.category-badge > span.badge:hover {
  background: #212529 important;
  color: #fff important;
}

/* -------------------------------- NGO Detail Page Styling */

.btn-rows {
  display: flex;
  justify-content: space-evenly;
  flex-direction: row;
  margin: 2rem auto;
}

.btn-alt {
  align-items: center;
  border-radius: 5px;
  display: flex;
  border: 10px solid var(--clr);
  box-shadow: -10px -10px 10px rgba(255, 255, 255, 0.2),
              15px 15px 15px rgba(0, 0, 0, 0.1),
              -10px -10px 10px rgba(255, 255, 255, 0.2) inset,
              15px 15px 15px rgba(0, 0, 0, 0.1) inset;
}

/* ------------------------------- bootstrap toasts */
.message-container {
  position: fixed;
  top: 4.5rem;
  right: 1rem;
  z-index: 99999999999;
}

.custom-toast {
  overflow: visible;
}

.toast-capper {
  height: 2px;
}

/* from CSS-tricks.com: https://css-tricks.com/snippets/css/css-triangle/ */
.arrow-up {
  width: 0;
  height: 0;
  border-left: 4px solid transparent;
  border-right: 4px solid transparent;
  border-bottom: 10px solid black;
  position: absolute;
  top: -10px;
  right: 2.25rem;
}

/* Convenience classes - colors copied from Bootstrap */
.arrow-primary {
  border-bottom-color: #007bff !important;
}

.arrow-secondary {
  border-bottom-color: #343a40 !important;
}

.arrow-success {
  border-bottom-color: #28a745 !important;
}

.arrow-danger {
  border-bottom-color: #dc3545 !important;
}

.arrow-warning {
  border-bottom-color: #ffc107 !important;
}

.arrow-info {
  border-bottom-color: #17a2b8 !important;
}

.arrow-light {
  border-bottom-color: #f8f9fa !important;
}

.arrow-dark {
  border-bottom-color: #343a40 !important;
}

/* CSS for post_detail.html */

.masthead {
  margin-top: 10px;
  overflow: hidden;
  position: relative;
  display: inline-block;
  height: 33vh;
  width: 100%;
}

.masthead-text {
  background-color: #096f10;
  color: white;
  position: relative;
}

.masthead-image {
  position: relative;
  overflow: hidden;
}

.masthead-image:after {
  content: "";
  position: absolute;
  top: 0;
  right: 89%;
  height: 100%;
  width: 155%;
  background: #096f10;
  -webkit-transform: skew(15deg);
  -moz-transform: skew(15deg);
  transform: skew(15deg);
  z-index: 100;
}

/* ------------------------------- MEDIA QUERIES */
@media (max-width: 992px) {
  .btn-rows {
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    margin: 2rem auto;
  }
}