{% load static %}
<footer>
  <ul class="list-inline social-networks text-center pt-3">
     <li class="list-inline-item fa-container">
      <!-- Joy Github -->
       <a aria-label="Joy Zadan github" href="https://github.com/JoyZadan" target="_blank"
         ><i class="fa-brands fa-github" aria-hidden="true"></i>
       <h3 class="team-members">Joy</h3>
      </a>
     </li>
     <li class="list-inline-item fa-container">
      <!-- Attiya GitHub -->
       <a aria-label="Attiya github" href="https://github.com/Attstar2021" target="_blank"
         ><i class="fa-brands fa-github" aria-hidden="true"></i>
       <h3 class="team-members">Attiya</h3>
      </a>
     </li>
     <li class="list-inline-item fa-container">
      <!-- Lee moran GitHub -->
       <a aria-label="Lee Moran github" href="https://github.com/Lee-moran" target="_blank">
         <i class="fa-brands fa-github" aria-hidden="true"></i>
       <h3 class="team-members">Lee</h3>
      </a>
     </li>
     <li class="list-inline-item fa-container">
      <!-- Erikas GitHub -->
       <a aria-label="Erikas Ramanauskas github" href="https://github.com/Erikas-Ramanauskas" target="_blank"
         ><i class="fa-brands fa-github" aria-hidden="true"></i>
       <h3 class="team-members">Erik</h3>
      </a>
     </li>
     <li class="list-inline-item fa-container">
      <!-- Vasi GitHub -->
       <a aria-label="Vasilica Pavaloi github" href="https://github.com/Vasi012" target="_blank"
         ><i class="fa-brands fa-github" aria-hidden="true"></i>
       <h3 class="team-members">Vasi</h3>
      </a>
     </li>
     
  </ul>
  <div class="text-center col-lg-6 offset-lg-3">
    <p class="footer-rights">
      Copyright &copy; 2023 &middot; All Rights Reserved &middot;
   <!-- Link to team page -->
      <a class="rights-link" href="https://hackathon.codeinstitute.net/teams/272/">Emergency code</a>
    </p>
  </div>
</footer>