<div class="toast custom-toast align-items-center border-0" role="alert" aria-live="assertive"
    aria-atomic="true">
    <div class="d-flex">
        <div class="toast-header bg-info">
            <strong class="mr-auto text-dark">Success!</strong>
            <button type="button" class="btn-close btn-close-white me-2 m-auto" data-bs-dismiss="toast"
            aria-label="Close">
        </button>
        </div>
        <div class="toast-body bg-white">
            <div class="row">
                <div class="col text-dark font-weight-bold">
                    {{ message }}
                    <hr class="mt-1 mb-3">
                </div>
            </div>
        </div>
    </div>
</div>